
.custom-table {
    margin-top: 20px;
    text-align: center; /* Centering the table */
  
}

/* Responsive Table CSS */
.table {
    width: 100%;
    max-width: 100%;
    margin: 0 auto; /* Centering the table horizontally */
    margin-bottom: 1rem;
    background-color: transparent;
    text-align: center;
    font-family: 'Times New Roman', Times, serif
    
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #000000;
    font-size: 18PX;
}

/* Optional: Add styling for even and odd rows */
.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
    font-size: 16px;
}

/* Optional: Add hover effect */
.table tbody tr:hover {
    background-color: #e9ecef;
}
