.signupImage,
.mainContent {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.sidebar {
  display: flex;
  justify-content: center;
}
.mainContent {
  padding: 40px;
  align-items: center;
}
.error {
  color: red;
  font-size: 14px;
}
.header{
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}
.form-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-full-width {
  width: 100%;
}

input.form-right-align::-webkit-outer-spin-button,
input.form-right-align::-webkit-inner-spin-button {
  display: none;
}

input.form-right-align {
  -moz-appearance: textfield;
}
.form-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.form-right-align {
  text-align: right;
}

input.form-right-align::-webkit-outer-spin-button,
input.form-right-align::-webkit-inner-spin-button {
  display: none;
}

input.form-right-align {
  -moz-appearance: textfield;
}
