<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 " id="exampleModalLabel">Employee Details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>

          <div class="form-group row">
            <label for="firstname" class="col-sm-2 w-25 col-form-label justify-content-left">First Name</label>
            <div class="col-sm-8 mb-3">
              <input type="text" class="form-control" id="inputfname">
            </div>
          </div>
          <div class="form-group row">
            <label for="lastname" class="col-sm-2 w-25 col-form-label ">Last Name</label>
            <div class="col-sm-8 mb-3">
              <input type="text" class="form-control" id="inputlname">
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-2 w-25 col-form-label ">Email</label>
            <div class="col-sm-8 mb-3">
              <input type="email" class="form-control" id="inputemail">
            </div>
          </div>
          <div class="form-group row">
            <label for="password" class="col-sm-2 w-25 col-form-label justify-content-left">Password</label>
            <div class="col-sm-8 mb-3">
              <input type="password" class="form-control" id="inputpassword">
            </div>
          </div>
          <div class="form-group row">
            <label for="department" class="col-sm-2 w-25 col-form-label justify-content-left">Department</label>
            <div class="col-sm-8  mb-3">
              <select class="custom-select col-sm-8 h-100 wt-600 mb-4 mt-2  " id="inlineFormCustomSelectPref">
                <option selected>Choose Department</option>
                <option value="1">Dot Net</option>
                <option value="2">Php</option>
                <option value="3">Mobile Application</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="DOB" class="col-sm-2 w-25 col-form-label justify-content-left">DOB</label>
            <div class="col-sm-8 ">
              <div class="form-group">
              
                <input type="date" class="form-control date-picker" id="myDate" (change)="handleDateChange($event)">
                
              </div>
              
              
              <!-- <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker "></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field> -->
            </div>
          </div>
          <div class="form-group row">
            <label for="skills" class="col-sm-2 w-25 col-form-label justify-content-left">skills</label>

            <select data-mdb-select-init multiple class="custom-select col-sm-8 h-95 wt-600 mb-3 mt-2  ">
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
              <option value="4">Four</option>
              <option value="5">Five</option>
              <option value="6">Six</option>
              <option value="7">Seven</option>
              <option value="8">Eight</option>
            </select>


          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>