<div class="container-fluid">
  <div class="row ">
    <div class="col-md-6 sidebar">
      <img src="../../../assets/images/sign-up.svg" width="350" height="350" alt="" srcset="" class="signupImage">

    </div>

    <div class="col-md-6 mainContent">
      <form class="w-100">
        <div class="mb-3 ">
          <h1 style="font-weight: 500;">Acquire first time right Angular Front End developer to craft dynamic web
            applications</h1>

          <p style="font-size: large;">Leverage top-of-the line skills and development capabilities of deeply
            experienced AngularJS developers to create world-class web solutions</p>
        </div>
        <div class="mb-3">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Register Yourself Here
          </button>
        </div>
      </form>

    </div>

  </div>
  <!-- Button trigger modal -->


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 " id="exampleModalLabel">Employee Details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="employeeForm">
           
            <label for="file" (dragover)="handleDragOver($event)" (drop)="handleDrop($event)">
              <i class="ph ph-upload"></i>

              <span>
                Drag & drop or
                <span>browse</span>
                your files
              </span>
            </label>
            <div class="col-sm-4 text-center">
              <div class="form-group row">
               
                  <div class="kv-avatar ">
                    <div class="file-loading col-sm-8 mb-4 mt-3 justify-content-left">
                        <input formControlName="avatarUrl" id="avatar-1" name="avatar-1" type="file" (change)="onFileSelected($event)" required>
                    </div>
                </div>
              
              </div>
              
          </div> 
        
            <!-- <input id="file" type="file" name="file" (change)="onFileSelected($event)" />

            <div class="result" [style.display]="outputBoxVisible ? 'flex' : 'none'">
              <i class="ph ph-file"></i>
              <div class="file-details">
                <span class="file-name">{{ fileName }}</span>
                <ng-container *ngIf="uploadStatus === 200 || uploadStatus === undefined">
                  <span class="file-size">{{ fileSize }}</span>
                </ng-container>
              </div>

              <div class="upload-result" [style.display]="uploadStatus ? 'flex' : 'none'">
                <span>{{ uploadResult }}</span>
                <ng-container *ngIf="uploadStatus === 200; else error">
                  <i class="ph ph-check-circle"></i>
                </ng-container>
                <ng-template #error>
                  <i class="ph ph-x-circle"></i>
                </ng-template>
              </div>
            </div> -->
            <div class="form-group row">
              <label for="firstName" class="col-sm-2 w-25 col-form-label justify-content-left mb-4 mt-3">First
                Name</label>
              <div class="col-sm-8 mb-4 mt-3 justify-content-left">
                <input type="text" class="form-control" formControlName="firstName">
                @if(employeeForm.controls['firstName'].invalid && (employeeForm.controls['firstName'].touched ||
                employeeForm.controls['firstName'].dirty ))
                {
                <div class="error">
                  @if(employeeForm.controls['firstName'].errors?.['required']){
                  First name is required.
                  }
                  @if(employeeForm.controls['firstName'].errors?.['maxlength']){
                  First name should be less than
                  {{employeeForm.controls['firstName'].errors?.['maxlength']?.requiredLength}}
                  }
                </div>
                }
              </div>
            </div>
            <div class="form-group row">
              <label for="lastName" class="col-sm-2 w-25 col-form-label mb-4 mt-3 ">Last Name</label>
              <div class="col-sm-8 mb-4 mt-3 ">
                <input type="text" class="form-control" id="inputlname" formControlName="lastName">

                @if(employeeForm.controls['lastName'].invalid && (employeeForm.controls['lastName'].touched ||
                employeeForm.controls['lastName'].dirty ))
                {
                <div class="error">
                  @if(employeeForm.controls['lastName'].errors?.['required']){
                  First name is required.
                  }
                  @if(employeeForm.controls['lastName'].errors?.['maxlength']){
                  Last Name name should be less than
                  {{employeeForm.controls['lastName'].errors?.['maxlength']?.requiredLength}}
                  }
                </div>
                }
              </div>
            </div>
               <div class="form-group row">
              <label for="shifttme"
                class="col-sm-2 w-25 col-form-label justify-content-left mb-2 mt-2">Gender</label>
              <div class="col-sm-8  mb-2 mt-2">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" id="inlineRadio1" [value]=true formControlName="gender">
                  <label class="form-check-label" for="inlineRadio1" >Male </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" id="inlineRadio2" [value]=false formControlName="gender">
                  <label class="form-check-label" for="inlineRadio2"> Female</label>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="email" class="col-sm-2 w-25 col-form-label mb-4 mt-3">Email</label>
              <div class="col-sm-8 mb-4 mt-3">
                <input type="email" class="form-control" id="inputemail" formControlName="email">
                @if(employeeForm.controls['email'].invalid && (employeeForm.controls['email'].touched ||
                employeeForm.controls['email'].dirty))
                {
                <div class="error">
                  @if(employeeForm.controls['email'].errors?.['required']){
                  Email is required.
                  }
                  @if(employeeForm.controls['email'].errors?.['email']){
                  Invalid email address
                  }
                </div>
                }
              </div>
            </div>
            <div class="form-group row">
              <label for="password" class="col-sm-2 w-25 col-form-label justify-content-left mb-4 mt-3">Password</label>
              <div class="col-sm-8 mb-4 mt-3">
                <input type="password" class="form-control" id="inputpassword" formControlName="password">
                @if(employeeForm.controls['password'].invalid && (employeeForm.controls['password'].touched ||
                employeeForm.controls['password'].dirty))
                {
                <div class="error">
                  @if(employeeForm.controls['password'].errors?.['required']){
                  Password is required.
                  }
                  @if(employeeForm.controls['password'].errors?.['minlength'] ){
                  Password should be more than
                  {{employeeForm.controls['password'].errors?.['minlength']?.requiredLength}}
                  }
                  @if(employeeForm.controls['password'].errors?.['maxlength'] ){
                  Password should be less than
                  {{employeeForm.controls['password'].errors?.['maxlength']?.requiredLength}}
                  }

                </div>
                }
              </div>
            </div>

            <div class="form-group row">
              <label for="DOB" class="col-sm-2 w-25 col-form-label justify-content-left mb-4 mt-3">DOB</label>
              <div class="col-sm-8 mb-4 mt-3">
                <div class="form-group">

                  <input type="datetime-local" class="form-control date-picker" id="myDate"
                    (change)="handleDateChange($event)" formControlName="dob">
                  @if(employeeForm.controls['dob'].invalid && (employeeForm.controls['dob'].touched ||
                  employeeForm.controls['dob'].dirty))
                  {
                  <div class="error">
                    @if(employeeForm.controls['dob'].errors?.['required']){
                    Dob is required.
                    }
                    @if(employeeForm.controls['dob'].errors?.['dob']){
                    Invalid DOB }
                  </div>
                  }
                </div>


                <!-- <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker "></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field> -->
              </div>
            </div>
            <div class="form-group row">
              <label for="department"
                class="col-sm-2 w-25 col-form-label justify-content-left mb-4 mt-3">Department</label>
              <div class="col-sm-8 ">
                <select class="custom-select col-sm-8  wt-600 mb-4 mt-3  " id="inlineFormCustomSelectPref"
                  formControlName="departmentId">
                  <option selected>Choose Department</option>
                  <option [ngValue]=1>Dot Net</option>
                  <option [ngValue]=2>Php</option>
                  <option [ngValue]=3>Mobile Application</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="skills" class="col-sm-3 w-25 col-form-label justify-content-left mb-4 mt-3">skills</label>
              <select data-mdb-select-init multiple class="custom-select col-sm-8 wt-600mb-4 mt-3 "
                formControlName="skillIds">
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>

              </select>
            </div>
            <div class="form-group row">
              <label for="shifttime" class="col-sm-2 w-25 col-form-label justify-content-left mb-4 mt-3">Shift
                Time</label>
              <div class="col-sm-8 mb-4 mt-3">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"
                    formControlName="shiftIds">
                  <label class="form-check-label" for="inlineCheckbox1">9:00 AM - 6:00 PM</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                  <label class="form-check-label" for="inlineCheckbox2">10:00 AM - 7:00 PM</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                  <label class="form-check-label" for="inlineCheckbox3">11:00 AM - 8:00 PM </label>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="shifttme"
                class="col-sm-2 w-25 col-form-label justify-content-left mb-2 mt-2">UserActive</label>
              <div class="col-sm-8  mb-2 mt-2">
                <div class="form-radio form-radio-inline">
                  <input class="form-radio-input" type="radio" id="inlineRadio" [value]=true formControlName="isActive">
                  <label class="form-radio-label" for="inlineRadio" style="font-size: 18px; padding-left: 3%;">Is
                    Active</label>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" routerLink="/employee" (click)="SaveChanges()" (click)="copyImage()">Save
            changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container" >
    <p style="display: block; text-align: center; font-size:35px; font-weight: 800px; font-family:'Times New Roman', Times, serif ;">Employee's Dashboard</p>
 </div>
 
 <div class=".custom-table" style="margin-top: 20px;margin-left: auto;">
     <div class="row  ">
         <div class="col-12">
             <table class="table table-bordered">
                 <thead>
                     <tr>
 
                         <th>FIRST NAME</th>
                         <th>LAST NAME</th>
                         <th>GENDER</th>
                         <th>EMAIL</th>
                         <th>DATE OF BIRTH</th>
                         <th>DEPARTMENT</th>
                         <th>SKILLS</th>
                         <th>SHIFT</th>
                         <th>UPLOADED IMAGE</th>
                         <th>EDIT</th>
                         <th>DELETE</th>
                     </tr>
                 </thead>
                 <tbody>
                     <tr *ngFor="let users of userArray">
 
                         <td>{{users.firstName}}</td>
                         <td>{{users.lastName}}</td>
                         <td >{{getGenderLabel(users.gender)}}</td>
                         <td>{{users.email}}</td>
                         <td>{{users.dob}}</td>
                         <td>{{users.department}}</td>
                         <td>{{users.skills}}</td>
                         <td>{{users.shifttime}}</td>
                         <td>{{users.avatarUrl}}</td>
                         <td><button class="btn  btn-success">Edit</button></td>
                         <td><button class="btn btn-danger">Delete</button></td>
                     </tr>
                 </tbody>
             </table>
         </div>
     </div>
 </div>
 
 
 