<mat-dialog-content class="mat-typography">
  <form [formGroup]="employeeForm">

    <div class="avatar" style="margin-left: 85px;">
      <label for="file" (dragover)="handleDragOver($event)" (drop)="handleDrop($event)">
        <i class="ph ph-upload"></i>

        <span>
          Drag & drop or browse your files
        </span>
      </label>
      <div class="col-sm-4 text-center">
        <div class="form-group row">
          <div class="kv-avatar ">
            <div class="file-loading col-sm-8 mb-4 mt-3 justify-content-left">
              <img [src]="url" height="200" style="justify-content: center;">
              <input id="avatar-1" name="avatar-1" type="file" (change)="onFileSelected($event)" required>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName">
      </mat-form-field>
      @if(employeeForm.controls['firstName'].invalid && (employeeForm.controls['firstName'].touched ||
      employeeForm.controls['firstName'].dirty ))
      {
      <div class="error">
        @if(employeeForm.controls['firstName'].errors?.['maxlength']){
        First name should be less than
        {{employeeForm.controls['firstName'].errors?.['maxlength']?.requiredLength}}
        }
      </div>
      }

    </div>
    <div class="form-group row">
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName">
      </mat-form-field>
      @if(employeeForm.controls['lastName'].invalid && (employeeForm.controls['lastName'].touched ||
      employeeForm.controls['lastName'].dirty ))
      {
      <div class="error">
        @if(employeeForm.controls['lastName'].errors?.['maxlength']){
        Last Name name should be less than
        {{employeeForm.controls['lastName'].errors?.['maxlength']?.requiredLength}}
        }
      </div>
      }

    </div>
    <div class="form-group row">
      <label for="Gender" class="col-sm-2 w-25 col-form-label justify-content-left mb-2 mt-2"> Gender : </label>
      <div class="col-sm-8  mb-2 mt-2">
        <mat-radio-group formControlName="gender">
          <mat-radio-button [value]=true>Male</mat-radio-button>
          <mat-radio-button [value]=false>Female</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="form-group row">
      <mat-form-field>
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="email" required>
      </mat-form-field>
      @if(employeeForm.controls['email'].invalid && (employeeForm.controls['email'].touched ||
      employeeForm.controls['email'].dirty))
      {
      <div class="error">
        @if(employeeForm.controls['email'].errors?.['email']){
        Invalid email address
        }
      </div>
      }
    </div>
    <div class="form-group row">

      <mat-form-field>
        <mat-label>Enter correct password</mat-label>
        <input matInput formControlName="password" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      @if(employeeForm.controls['password'].invalid && (employeeForm.controls['password'].touched ||
      employeeForm.controls['password'].dirty))
      {
      <div class="error">
        @if(employeeForm.controls['password'].errors?.['minlength'] ){
        Password should be more than
        {{employeeForm.controls['password'].errors?.['minlength']?.requiredLength}}
        }
        @if(employeeForm.controls['password'].errors?.['maxlength'] ){
        Password should be less than
        {{employeeForm.controls['password'].errors?.['maxlength']?.requiredLength}}
        }

      </div>
      }
    </div>

    <div class="form-group row">
      <label for="DOB" class="col-sm-2 w-25 col-form-label justify-content-left mb-4 mt-3">DOB</label>
      <div class="col-sm-8 mb-4 mt-3">
        <div class="form-group">
          <input type="date" class="form-control date-picker" id="myDate" [max]="maxDate"
            (change)="handleDateChange($event)" formControlName="dob">
          @if(employeeForm.controls['dob'].invalid && (employeeForm.controls['dob'].touched ||
          employeeForm.controls['dob'].dirty))
          {
          <div class="error">
            @if(employeeForm.controls['dob'].errors?.['required']){
            Dob is required.
            }
            @if(employeeForm.controls['dob'].errors?.['dob']){
            Invalid DOB }
          </div>
          }
        </div>
      </div>
    </div>

    <div class="form-group row">
      <mat-form-field>
        <mat-label>Select department</mat-label>
        <mat-select formControlName="departmentId" panelClass="custom-mat-select-panel">
          <mat-option *ngFor="let item of department" [value]="item.id">{{ item.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group row">
      <label for="skills" class="col-sm-3 w-25 col-form-label justify-content-left mb-4 mt-3">skills</label>
      <select data-mdb-select-init multiple class="custom-select col-sm-8 wt-600mb-4 mt-3 " formControlName="skillIds">
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="form-group row">
      <label for="shifttime" class="col-sm-2 w-25 col-form-label justify-content-left mb-4 mt-3">Shift
        Time</label>
      <div class="col-sm-8 mb-4 mt-3">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1" formControlName="shiftIds">
          <label class="form-check-label" for="inlineCheckbox1">9:00 AM - 6:00 PM</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="2">
          <label class="form-check-label" for="inlineCheckbox2">10:00 AM - 7:00 PM</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="3">
          <label class="form-check-label" for="inlineCheckbox3">11:00 AM - 8:00 PM </label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="shifttme" class="col-sm-2 w-25 col-form-label justify-content-left mb-2 mt-2">UserActive</label>
      <div class="col-sm-8  mb-2 mt-2">
        <div class="form-radio form-radio-inline">
          <input class="form-radio-input" type="radio" id="inlineRadio" [value]=true formControlName="isActive">
          <label class="form-radio-label" for="inlineRadio" style="font-size: 18px; padding-left: 3%;">Is
            Active</label>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="SaveChanges()"> Save</button>
  </form>
</mat-dialog-content>